<div class="container">
  <h1>FORMULARIO DE REGISTROS</h1>
  <span style="color: rgb(127, 208, 255);">Estimado Usuario, Ingrese todos los campos correctamente para poder Registrar
    su nueva tarea con exito...</span>
  <hr>


  <!--Formulario de registro de Tareas-->

  
  <form [formGroup]="Registro" (ngSubmit)="Registrar()">
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input type="text" class="form-control" id="titulo" placeholder="Introduzca el título de la tarea"
        formControlName="titulo">
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea class="form-control" id="descripcion" rows="3" placeholder="Introduzca la descripción de la tarea"
        formControlName="descripcion"></textarea>
    </div>
    <div class="mb-3">
      <label for="prioridad" class="form-label">Estado</label>
      <select class="form-select" id="prioridad" formControlName="estado">
        <option selected disabled>Seleccione el estado de la tarea</option>
        <option value="Pendiente">Pendiente</option>
        <option value="Completada">Completada</option>
      </select>
    </div>
    <div class="container">
      <div class="row">

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!Registro.valid"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square"
            viewBox="0 0 16 16">
            <path
              d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
            <path
              d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
          </svg> &nbsp;
          R E G I S T R A R &nbsp; T A R E A </button>

        <button type="reset" class="btn btn-primary btn-block mb-4"> L I M P I A R &nbsp; C A M P O S </button>

        <button class="btn btn-primary btn-block mb-4" (click)="Cancelar()"> C A N C E L A R</button>


      </div>
    </div>
  </form>
</div>