<div class="container">
    <h2>Username, estas son tus tareas Pendientes</h2>
    <hr> <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre de la tarea</th>
            <th>&nbsp; &nbsp;&nbsp; &nbsp; Descripción</th>
            <th>Estado</th>
            <th></th>
            <th>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Tarea 1</td>
            <td>Descripción de la tarea 1</td>
            <td>Pendiente</td>
            <td></td>
            <td>
            <a href="#" class="btn btn-primary">Completar</a>                 
            <a href="#" class="btn btn-primary">Editar</a>
            <a href="#" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Tarea 2</td>
            <td>Descripción de la tarea 2</td>
            <td>Pendiente</td>
            <td></td>
            <td>
                <a href="#" class="btn btn-primary">Completar</a>                
              <a href="#" class="btn btn-primary">Editar</a>
              <a href="#" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Tarea 3</td>
            <td>Descripción de la tarea 3</td>
            <td>Pendiente</td>
            <td></td>
            <td>
                <a href="#" class="btn btn-primary">Completar</a>                
              <a href="#" class="btn btn-primary">Editar</a>
              <a href="#" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
      

</div>