<div class="container">
    <h2><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
    </svg> 
    <span style="color:blue;"> {{UserName}}</span>, estas son tus tareas Pendientes</h2>
    <hr>
    <button class="btn btn-primary" style="margin-bottom: 18px; position: relative;" (click)="RegistrarN()">Registrar Nueva Tarea</button>
    <button  class="btn btn-danger" style="margin-bottom: 18px; position: relative; margin-left:5px;"(click)="Detalles()"> Detalles Generales</button>
    <div class="table-responsive">

      <table class="table table-striped">
          <thead>
            <tr>
              <th><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
              </svg></th>
              <th>Nombre de la tarea</th>
              <th>&nbsp; &nbsp; Descripción</th>
              <th>Estado</th>
              <th></th>
              <th>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Pendiente of Pendientes; index as i">
              <td>{{i+1}}</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Pendiente.titulo}}</td>
              <td>&nbsp;&nbsp;&nbsp;{{Pendiente.descripcion}}</td>
              <td>{{Pendiente.estado}}</td>
              <td></td>
              <td>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 
              <a (click)="CompletarTask(Pendiente.id!)" class="btn btn-primary">Completar</a>                 
              <a href="#" class="btn btn-primary">Editar</a>
              <a (click)="EliminarTarea(Pendiente.id!)" class="btn btn-danger">Eliminar</a>
              </td>
              
            </tr>
          </tbody>
        </table>

        <div *ngIf="Pendientes.length < 1">
          <br>
          <p>No existen Registros Pendientes en este momento</p>
        </div>
        
    </div>

</div>