<!--Modal de Actualizacion de Password-->

<div class="modal-dialog ">
  <div class="modal-content">
    <div class="modal-header">

      <!--Titulo del Modal-->

      <h1 class="modal-title fs-5" id="staticBackdropLabel">Actualización de Datos</h1>
      <button type="button" class="btn-close" (click)="activeModal.dismiss()" aria-label="Close"></button>
    </div>
    <div class="modal-body">

      <!--Cuerpo del modal-->

      <div class="container">

        <h4><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
            class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path
              d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
          </svg> Actualizar Contraseña de la cuenta</h4>
        <hr>
        <br>

        <!-- Formulario de Actualizacion Con Reactive Forms-->
        <form [formGroup]="PassActualizacion">

          <div class="form-group">
            <label for="contrasena">Contraseña Actual</label>
            <input type="password" class="form-control" id="contrasena" placeholder="Ingresa tu contraseña Actual"
              formControlName="pass">

            <ng-container *ngIf="PassValid">
              <div class="alert alert-dark" role="alert" style="margin-top: 10px !important;">
                Contraseña Incorrecta
              </div>
            </ng-container>

          </div>
          <br>
          <div class="form-group">
            <label for="contrasena">Nueva Contraseña</label>
            <input type="password" class="form-control" id="contrasena2" placeholder="Ingresa la nueva contraseña"
              formControlName="Newpass1">
          </div>
          
          <br>
          <div class="form-group">
            <label for="contrasena">Repita la Nueva Contraseña</label>
            <input type="password" class="form-control" id="contrasena3"
              placeholder="Ingresa nuevamente la nueva contraseña" formControlName="Newpass2">
          </div>

          <ng-container *ngIf="NewPass">
            <div class="alert alert-dark" role="alert" style="margin-top: 10px !important;">
              Las Contraseñas ingresadas No coinciden
            </div>
          </ng-container>

        <!--Fin del formulario-->
        </form>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="Actualizar()" [disabled]="PassActualizacion.invalid">A c t
        u a l i z a r</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">C a n c e l a r</button>

    </div>
  </div>
</div>


<!--Fin del modal-->