<!--Plantilla html del modal de actualizar Tareas-->

<div class="modal-header">

  <!--Titulo del modal -->

  <h4 class="modal-title"> <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
      class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
      <path fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
    </svg>

    Actualización De Tarea </h4>

  <!-- Button close modal -->
  <button type="button" (click)="activeModal.dismiss()" class="btn-close" data-bs-dismiss="modal"
    aria-label="Close"></button>

</div>

<!-- Cuerpo del modal -->
<div class="modal-body">
  
  <!--Titulo de cada tarea en el modal-->
  <h4>Tarea <strong>{{item.titulo}}</strong></h4>
  <hr>
  <br>

  <!--Formulario de Actualizacion (Reactive Forms) -->
  <form [formGroup]="Actualizacion" (ngSubmit)="Actualizar()">
    
    <div class="form-group">
      <label for="nombre">Nombre de la tarea</label>
      <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre de la tarea"
        formControlName="titulo">
    </div>

    <br>
    <div class="form-group">
      <label for="descripcion">Descripción de la tarea</label>
      <textarea class="form-control" id="descripcion" rows="3" placeholder="Ingrese la descripción de la tarea"
        formControlName="descripcion"></textarea>
    </div>

    <br>
    <div class="form-group">
      <label for="prioridad">Estado de la tarea</label>
      <select class="form-control" id="prioridad" formControlName="estado">
        <option selected disabled>Seleccione el estado de la tarea</option>
        <option value="Pendiente">Pendiente</option>
        <option value="Completada">Completada</option>
      </select>
    </div>

    <br>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="Actualizacion.invalid">A c t u a l i z a r</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
    </div>
    
  </form>
</div>