<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="pb-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                  </svg>

              <h2 class="fw-bold mb-2 text-uppercase">
              Login</h2>
              <p class="text-white-50 mb-5">Ingrese su Usuario y contraseña!</p>

              <form [formGroup]="Session" (ngSubmit)="Loggin()">

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg"  placeholder="Ingrese la direccion de correo electronico" 
                formControlName="email"/>
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Ingrese la contraseña" formControlName= "contraseña" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <!--<p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

              <button class="btn btn-outline-light btn-lg px-5" type="submit">I N G R E S A R</button> <br> <br>
              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="SingUp()">R E G I S T R A R</button>

            </form>
            </div>
            
            
        </div>
    </div>
</div>
</div>
</div>
</section>