<div class="container mt-5">
    <h1><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
      </svg>  Mi cuenta  </h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
              </svg>  Información de usuario</h4><br>
            <p><strong>Nombres: </strong>  {{UserName}}</p>
            <p><strong>Apellidos: </strong>  {{LastName}}</p>
            <p><strong> Correo electrónico:  </strong> {{Email}}</p> 
            <a  routerLink="/PageInitial/UpdateAcount" class="btn btn-primary">Actualizar Datos</a>
            <br><br><br>
        </div>

        <div class="col-md-8">
            <h4>Registros de Actividad</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Acción</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Tareas Registradas</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Registros}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Tareas Pendientes</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Pendientes}}</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Tareas Completadas</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Completadas}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


  