<div class="container mt-5">
    <h1>Mi cuenta</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Información de usuario</h4>
            <p>Nombres: Juan Pérez</p>
            <p>Apellidos: Juan Pérez</p>
            <p>Correo electrónico: juanperez@gmail.com</p>
            <button class="btn btn-primary">Actualizar Datos</button>
        </div>

        <div class="col-md-8">
            <h4>Registros de Actividad</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Acción</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Tareas Registradas</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Tareas Pendientes</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Tareas Completadas</td>
                        <td>30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


  